.container{   
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;    
    justify-content: flex-end;

}

.filtro{
    padding-right: 15px;  
    
}


.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}
