<app-header></app-header>
<div class="container">
    <div class="filtro">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Buscar pelo produto</mat-label>
            <input matInput type="text">
            <button *ngIf="" matSuffix mat-icon-button aria-label="Clear" >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </div>
</div>
    <div class="card">
        <app-card-list></app-card-list>
    </div>

